.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 100vw;
    background-color: rgb(246,246,246);
}
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
}

.about-me p {
    font-size: 13px;
    color: rgb(154,154,154);
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 25px;
}

.linkedin-img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    object-fit: cover;
}
