.foodlog-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100vw;
}

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        height: 560px;
        background-color: rgb(242, 242, 248);
        margin-top: 10rem;
        border: 1px solid rgb(223,231,238);
    }

.foodlog-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 700px;
    background-color: rgb(10,82,130);
}

    .foodlog-title-container p {
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
    }

.foodlog-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

    .foodlog-meal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        padding-left: 1rem;
        background-color: rgb(223,231,238);
    }

    .foodlog-selected-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        padding-left: 1rem;
        background-color: rgb(242,242,248)
    }


    .foodlog-top #breakfast:hover {
        background-color: rgb(242, 242, 248);
    }

    .foodlog-top #lunch:hover {
        background-color: rgb(242, 242, 248);
    }

    .foodlog-top #lunch {
        border-left: 1px solid rgb(212, 212, 212);
        border-right: 1px solid rgb(212, 212, 212);
    }

    .foodlog-top #dinner:hover {
        background-color: rgb(242, 242, 248);
    }

    .foodlog-top h3 {
        color: rgb(102,102,102);
    }

.foodlog-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
    height: 100%;
}

.foodlog-existing {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .foodlog-existing-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: orange; */
        height: 2.5rem;
        width: 82%;
        padding-bottom: .25rem;
    }

    .foodlog-existing-title-container-btm-brder {
        width: 100%;
        height: 2px;
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    .foodlog-existing-title-container div {
        font-size: 18px;
        font-weight: 600;
        color: grey;
    }

    .foodlog-existing-nutrition {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* background-color: orange; */
        margin-top: .75rem;
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    .foodlog-existing-nutrition div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        height: 100%;
        padding-bottom: .50rem;
        /* background-color: green; */
    }

    .foodlog-existing-nutrition p {
        font-size: 16px;
        color: rgb(102,102,102);
    }

    .foodlog-existing-nutrition span {
        display: flex;
        /* justify-content: center;
        align-items: center; */
        color: rgb(102,102,102);

    }

    .foodlog-existing-edit:hover {
        color: rgb(0,101,238);
    }

    .foodlog-existing-delete:hover {
        color: rgb(176, 21, 21);
    }

    .foodlog-existing-nutrition i {
        font-size: 18px;
    }

    .confirm-background {
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.8;
        overflow: hidden; /* disable scrolling*/
        z-index: 2; /* higher than all other items, but lower than
          the confirm box*/
      }

      .container {
        display: none;
        flex-direction: column;
        position: fixed;
        background-color: rgb(242,242,248);
        width: 230px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -225%);
        padding: 1rem;
        z-index: 5; /* Higher than the z-index of the background */
      }

      .confirmation-text {
        display: flex;
        color: rgb(102,102,102);
        margin: 0.5rem 0 2rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1.1rem;
      }

      .button-container {
        display: flex;
        margin-top: auto;
        justify-content: space-between;
      }

      .confirmation-button, delete-button {
        display: inline-flex;
        background-color: rgb(0,0,0,0);
        color: rgb(255, 80, 0);
        padding: 0.7rem 1.4rem;
        border: none;
        border-radius: 0.3rem;
        font-size: 1rem;
      }

      .cancel-button {
        background-color: rgb(0,0,0,0);
        border-style: none;
        color:rgb(1, 200, 5);
        font-size: 14px;
        font-weight: 500;
      }

      .confirmation-button:hover {
        background-color: rgb(0,0,0,0);
        color:rgb(109, 16, 0);
        cursor: pointer;
      }

      .cancel-button:hover {
        background-color: rgb(0,0,0,0);
        color:rgb(78, 255, 80);
        cursor: pointer;
      }

.new-modal-main {
    display: flex;
    flex-direction: column;
    width: 75vw, max(800px);
}

.modal-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: orange; */
}

.modal-title h1 {
    font-size: 26px;
    color: rgb(102,102,102);
}


.foodlog-modal-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 40%;
    /* background-color: green; */

}

    .search-bar {
        height: 30px;
        width: 97.7%;
        border: 1px solid rgb(212, 212, 212);
        font-size: 20px;
    }

    .search-results {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .result-box {
        display: flex;
        align-items: center;
        height: 2rem;
        width: 100%;
        border-bottom: 1px solid rgb(212, 212, 212);
        background-color: rgb(242,242,248);

    }

    .result-box p {
        font-weight: 500;
    }

    .result-box:hover {
        background-color: white;
        text-shadow: 2px, 2px;
    }

.favorite-foodlist {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    margin-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

    .favorite-foodlist h3 {
        margin-bottom: .5rem;
        /* background-color: brown; */
    }

    .favorite-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
        width: 100%;
        background-color: rgb(242,242,248);
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    .favorite-items #item-name {
        display: flex;
        align-items: center;
    }

    .favorite-items #fav-symbl {
        height: 100%;
        width: 2rem;
        background-color: orange;
    }

    .favorite-items #fav-symbl:hover {
        background-color: red;
    }

.foodlog-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 50%;
    min-height: 400px;
    padding-top: 0;
    background-color: rgb(242, 242, 248);
}

.foodlog-form label {
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102,102,102);
}

.each-error {
    font-weight: 500;
    color: rgb(161, 8, 8);
}

.foodlog-container {
    display: flex;
    flex-direction: row;
    height: 2em;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0rem;
    padding-right: 2rem;
    /* background-color: orange; */

}

.foodlog-form input {
    background-color: rgba(0,0,0,0);
    font-size: 22px;
    color: rgb(102,102,102);
    width: 40%;
    height: 100%;
    text-align: center;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.foodlog-form input:hover {
    background-color: rgb(255, 255, 255);
}

.foodlog-lower {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 2rem;
    margin-top: 0;

}

.foodlog-lower button {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background-color: rgba(0,0,0,0);
    border-style: none;
}

.foodlog-submit-btn h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 161, 10);
}

.foodlog-submit-btn h4:hover {
    color:rgb(37, 209, 31);
}

.foodlog-delete-btn h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 8, 8);
}

.foodlog-delete-btn h4:hover {
    color: rgb(206, 9, 9);
}
